table{
    border-style: solid;
    border-color: black;
}

td{
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

th{
    border-color: black;
    border-style: solid;
    border-width: 1px;
}


